{% macro submenu_domains(homepath, domain, active) -%}
    <div class="main-subhead">
        <h2 class="hn">
            {# Edit domain profile #}
            <span class="float_right">{{ _('View/Update domain profile:') }} <a href="{{homepath |e}}/profile/domain/{{domain}}" title="{{ _('Edit domain profile.') }}">{{domain}}</a></strong></span>

            {# List all mail users #}
            <span>{{ _('List all mail accounts under domain <strong>%s</strong>:') |format(domain) }} </span><span class="{% if active == 'users' %}active{%endif%}"><a href="{{homepath|e}}/{{domain|e}}/users" title="{{ _('List all mail users under domain: %s.') |format(domain) }}">{{ _('Users') }}</a></span>
        </h2>
    </div>
{%- endmacro %}
