/* The Reset ---------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,
h6,pre,form,fieldset,input,p,blockquote,table,
th,td { margin: 0; padding: 0; }
fieldset,img,abbr { border: 0; }
address,caption,cite,code,dfn,em,h1,h2,h3,
h4,h5,h6,th,var { font-style: normal; font-weight: normal; }
caption,th { text-align: left; }
q:before,q:after { content: ''; }
a { text-decoration: none; }

body {
    font-size: 62.5%;
    background: #fff;
    font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
    line-height: 22px;
    color: #555;
    margin-bottom: 40px;
}
/* -------------------------------------------- */

#wrapper {
    width: 900px;
    margin: 0 auto;
    overflow: auto;
    text-align: left;
    clear: both;
}

center {
    text-align: center;
}

/*
#wrapper {
    width: 960px;
    margin: 0 auto;
    clear: both;
}
*/

code {
    font-family: Consolas, Monaco, "Courier New", Courier, monospace;
}

#header {
    height: 88px;
    min-width: 960px;
    background: #464646;
}

#header h1 a {
    display: block;
    background: url("/rhmsadmin/static/default/images/rhms_logo.png") center left no-repeat;
    width: 150px;
    height: 88px;
    text-indent: -9999px;
    float: left;
}

#header ul {
    /*margin-right: 14px;
    float: right;*/
    padding-top: 55px;
    margin-left: 14px;
    float: left;
    list-style: none;
    min-width: 500px;
}

#header ul li {
    float: left;
}

#header ul li a {
    font-weight: normal;
    display: block;
    line-height: 34px;
    padding: 0 10px;
    font-size: 14px;
    /*color: #999;*/
    color: #fff;
    text-shadow: #333 1px 1px 1px;
}

#header ul li a:hover {
    color: #fff;
}

#header ul li a.current, #header ul li#download a.current {
    color: #555;
    background: #e4f2fd;
    -moz-border-radius-topleft: 3px;
    -khtml-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -khtml-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    text-shadow: #c6d9e9 1px 1px 1px;
}

#header ul li#download a {
    background: #d54e21 url(images/download-tab-bg.png) bottom left repeat-x;
    color: #fff;
    -moz-border-radius-topleft: 3px;
    -khtml-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -khtml-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    text-shadow: #b5421c 1px 1px 1px;
}

#header ul li#download a:hover {
    color: #ffac90;
}

#header ul li#download a.current:hover {
    color: #555;
}
/* About */
#about {
    min-width: 960px;
    min-height: 351px;
    border-bottom: 1px solid #c6d9e9;
}

#about img.screenshot {
    margin-top: 22px;
    margin-right: 28px;
    float: left;
}

#about p {
    font-size: 13px;
    padding: 11px 0;
    margin-right: 14px;
}

#about p.intro {
    font-family: Georgia, Times, "Times New Roman", serif;
    padding-top: 34px;
    font-size: 17px;
    line-height: 1.5em;
}

#about p.intro strong {
    font-weight: normal;
}


/* Footer */
#footer {
    clear: both;
    border-top: 1px solid #dedede;
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding: 6px 14px;*/
    width: 932px;
    margin: 0 auto;
}

/*
#footer .wrapper {
    width: 932px;
}
*/

#footer p {
    float: left;
    color: #bbb;
}

#footer h6 {
    float: right;
}

#footer h6 {
    /*background: url(images/codeispoetry.png) center center no-repeat;*/
    width: 133px;
    height: 9px;
    text-indent: -9999px;
    margin-top: 6px;
}
