{% extends "layout.html" %}

{% from "macros.html" import set_status_img, list_enabled_services %}
{% from "sidebars.html" import sidebar_admin %}

{% block title %}{{ _('Admins') }}{% endblock %}

{% block leftcolumn %}
<div class="note">
<h4>{{ _('Search admin') }}</h4>
<form method="post" action="{{ctx.homepath}}/search">
    <input type="hidden" name="searchType" value="admin">
    <input type="text" name="admin" value="" size="13">
    <input type="submit" value="{{ _('Search') }}" class="button">
</form>
</div>

    {# Display input field for adding new domain. #}
    {% if session.get('domainGlobalAdmin') == 'yes' %}
        <div class="note">
        <form method="post" action="{{ctx.homepath}}/admin/list">
            <input type="hidden" name="action" value="add" />

            <table>
                <h4>{{ _('Add a new admin:') }}</h4>
                <tr><td>{{ _('E-Mail:') }}</th><td><input type="text" name="admin" value="" size="13" /></td></tr>
                <tr><td>{{ _('Password:') }}</th><td><input type="password" name="passwd" value="" size="13" /></td></tr>
                <tr><td colspan="2"><input type="checkbox" name="domainGlobalAdmin" value="yes" /> {{ _('As Global Admin') }} <input type="submit" value="{{ _('Add now') }}" class="button"/></td>
            </table>

            <p>{{ _('Note:') }}
                <ul>
                    <li>{{ _('Do <strong>NOT</strong> specify multiple accounts.') }}</li>
                </ul>
            </p>
        </form>
        </div>
    {% endif %}
{% endblock %}


{% block rightcolumn %}

{# Show system message #}
{% if msg is defined %}
    <div class="sysmsg">
        <h5>{{ _('System message:') }}</h5>

        <ul>
        {% for i in msg.items() %}
            <li>{{ i[1] }} ({{i[0]}})</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

<h4>{{ _('All admins:') }}</h4>

{% if admins|length > 0 %}
    <div>
    <form name="list_table" id="list_table" action="{{ctx.homepath}}/admin/list" method="post">
        <input type="hidden" name="action" value="delete" />

        <table class="full">
        <tr>
            <th><input type="checkbox" name="checkall" id="checkall" /></th>
            <th>{{ _('No.') }}/{{ admins|length}}</th>
            <th>{{ _('Mail') }}</th>
            <th>{{ _('Status') }}</th>
            <th>{{ _('Global Admin') }}</th>
            <th>{{ _('Enabled Service(s)') }}</th>
            <th>{{ _('Operations') }}</th>
        </tr>

        {% for admin in admins %}
            {% set dn = admin[0] %}
            {% set entry = admin[1] %}

            {% set mail = entry.get('mail')[0] %}
            {% set accountStatus = entry.get('accountStatus')[0] %}
            {% set domainGlobalAdmin = entry.get('domainGlobalAdmin')[0] %}
            {% set enabledService = entry.enabledService %}

            {% if accountStatus|lower == 'active' %}
                <tr id="enabled">
            {% else %}
                <tr id="disabled">
            {% endif %}

            <td><input type="checkbox" name="dn" value="{{dn}}" /></td>
            <td>{{ loop.index }}</td>
            <td>{{ mail }}</td>
            <td>{{ set_status_img(accountStatus) }}</td>
            <td>{{ set_status_img(domainGlobalAdmin) }}</td>
            <td>{{ list_enabled_services(enabledService) }}</td>
            <td>
                {#<input type="image" src="{{ctx.homepath}}/static/{{skin}}/images/delete.png" alt="{{ _('Delete') }}" onclick="location.href='{{ctx.homepath}}/user/list?dn={{ dn }}'" />#}

                {# Edit #}
                <form method="post" action="{{ctx.homepath}}/admin/edit" class="inline">
                    <input type="hidden" name="adminDN" value="{{ dn }}">
                    <input type="image" src="{{ctx.homepath}}/static/{{skin}}/images/edit.png" alt="{{ _('Edit') }}">
                </form>

                {# Delete #}
                {#<form method="post" action="{{ctx.homepath}}/admin/list" class="inline">
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="dn" value="{{ dn }}">
                    <input type="image" src="{{ctx.homepath}}/static/{{skin}}/images/delete.png" alt="{{ _('Delete') }}" />
                </form>#}
                <a href="{{ctx.homepath}}/admin/list?action=delete&dn={{dn}}" onclick="return confirm('{{ _('Delete this admin?') }} ');" alt="{{_('Delete')}}"><img src="{{ctx.homepath}}/static/{{skin}}/images/delete.png" /></a>

{#
                <form method="post" action="{{ctx.homepath}}/domain/users">
                    <input type="hidden" name="domainDN" value="{{ dn }}">
                    <input type="hidden" name="domainName" value="{{domainName}}">
                    <input type="submit" value="{{ _('Detail') }}" class="button">
                    <input type="submit" value="{{ _('Edit') }}" class="button">
                    <input type="submit" value="{{ _('Delete') }}" class="button">
                </form>
#}
            </td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="10">
                <input type="checkbox" name="checkall" id="checkall" />
                {{ _('Select all') }}
                <input type="submit" value="{{ _('Delete') }}" class="button"/>
            </td>
        </tr>
        </table>
    </form>
</div>
{% endif %}

{% endblock rightcolumn %}
