{% extends "layout.html" %}

{% block title %}{{ _('Change password') }}{% endblock %}

{% from "sidebars.html" import sidebar_preferences %}

{% block leftcolumn %}
    {{ sidebar_preferences() }}
{% endblock %}

{% block rightcolumn %}

{% if msg is defined %}
    <p>{{ _('System message:') }} <span id="green_text">{{ _('Password changed.') }}</span></p>
{% endif %}

<p>{{ _('Change password for user:') }} <strong>{{ session.username }}</strong></p>

<form method="post" action="{{ctx.homepath}}/preference/change_passwd">
<table border="0">
    <tr>
        <td>{{ _('Current password:') }}</td>
        <td><input type="password" name="cur_passwd" /></td>
    </tr>
    <tr>
        <td>{{ _('New password:') }}</td>
        <td><input type="password" name="new_passwd" /></td>
    </tr>
    <tr>
        <td>{{ _('Retype new password:') }}</td>
        <td><input type="password" name="new_passwd_confirm" /></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="{{ _('Change now') }}" class="button" /></td>
    </tr>
</table>
</form>
{% endblock rightcolumn %}
