{% extends "layout.html" %}

{% from "macros.html" import set_status_img, list_enabled_services %}
{% from "sidebars.html" import sidebar_domain %}

{% block title %}{{ _('Domains and Users') }}{% endblock %}

{% block leftcolumn %}
{# Search field #}
<div class="note">
<h4>{{ _('Search domain') }}</h4>
<form method="post" action="{{ctx.homepath}}/search">
    <input type="hidden" name="searchType" value="admin">
    <input type="text" name="admin" value="" size="15">
    <input type="submit" value="{{ _('Search') }}" class="button">
</form>
</div>

{# Display input field for adding new domain. #}
{% if session.get('domainGlobalAdmin') == 'yes' %}
    <div class="note">
    <form method="post" action="{{ctx.homepath}}/domain/list">
        <input type="hidden" name="action" value="add" />

        <h4>{{ _('Add new domain(s):') }}</h4>
        <table class="full">
            <tr>
                <td>{{ _('Domain name') }}</td>
                <td><input type="text" name="domainName" value="" size="13" /></td>
            </tr>
            <tr><td colspan="2"><input type="submit" value="Add now" class="button float_right" /></td></tr>
        </table>

        <p>{{ _('Hint:') }}</p>
        <ul>
            <li>{{ _('Multiple domains <strong>MUST</strong> be seperated by <strong>SPACE</strong>.') }}</li>
        </ul>
    </form>
    </div>
{% endif %}
{% endblock leftcolumn %}

{% block rightcolumn %}

{# Show system message #}
{% if msg is not none %}
    <div class="note">
        <p>{{ _('System message:') }}</p>

        <ul>
        {% for i in msg.items()|sort %}
            <li>{{ i[1] }} ({{ i[0] }})</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

{# List all domains under control. #}
<h4>{{ _('Domain(s) under your control:') }}</h4>

<form name="list_table" id="list_table" action="{{ctx.homepath}}/domain/list" method="post">
<input type="hidden" name="action" value="delete" />
<input type="hidden" name="type" value="domain" />
<table class="full">
    <tr>
        <th><input type="checkbox" name="checkall" id="checkall" /></th>
        <th>{{ _('No.') }}/{{ domains |length }}</th>
        <th>{{ _('Domain Name') }}</th>
        <th>{{ _('Status') }}</th>
        <th>{{ _('Enabled Service(s)') }}</th>
        <th>{{ _('Operations') }}</th>
    </tr>

    {# List domain attributes/avalues. #}
    {% for i in domains %}
        {% set dn = i[0] %}
        {% set entries = i[1] %}
        {% set domainName = entries.get('domainName')[0] %}
        {% set domainStatus = entries.get('domainStatus')[0] %}
        {% set enabledService = entries.get('enabledService') %}
        {% set hasSubordinates = entries.get('hasSubordinates')[0] %}

        {% if domainStatus == 'active' %}
            <tr id="enabled">
        {% else %}
            <tr id="disabled">
        {% endif %}

            <td><input type="checkbox" name="dn" value="{{dn}}" /></td>
            <td>{{ loop.index }}</td>
            <td>{{ domainName }}</td>
            <td>{{ set_status_img(domainStatus) }}</td>
            <td>{{ list_enabled_services(enabledService) }}</td>
            <td>
                {# List groups #}
                <form action="{{ctx.homepath}}/group/list" method="post" class="inline">
                    <input type="hidden" name="domain" value="{{dn}}" />
                    <input type="image" src="{{ctx.homepath}}/static/{{skin}}/images/group.png" alt="{{ _('List all groups') }}" />
                </form>

                {# List users #}
                <form action="{{ctx.homepath}}/user/list" method="post" class="inline">
                    <input type="hidden" name="domainDN" value="{{dn}}" />
                    <input type="hidden" name="domainName" value="{{domainName}}" />
                    <input type="image" src="{{ctx.homepath}}/static/{{skin}}/images/user.png" alt="{{ _('List all users') }}" />
                </form>

                {# Edit #}
                <form action="{{ctx.homepath}}/domain/edit" method="post" class="inline">
                    <input type="hidden" name="domain" value="{{dn}}" />
                    <input type="image" src="{{ctx.homepath}}/static/{{skin}}/images/edit.png" alt="{{ _('Edit') }}" />
                </form>

                {# Delete #}
                <form action="{{ctx.homepath}}/domain/list" method="post" class="inline">
                    <input type="hidden" name="action" value="delete" />
                    <input type="hidden" name="type" value="domain" />
                    <input type="hidden" name="dn" value="{{dn}}" />
                    <input type="image" src="{{ctx.homepath}}/static/{{skin}}/images/delete.png" alt="{{ _('Delete') }}" />
                </form>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="10">
            <input type="checkbox" name="checkall" id="checkall" />
            {{ _('Select all') }}
            <input type="submit" value="{{ _('Delete') }}" class="button" />
        </td>
    </tr>
</table>
</form>

{% endblock %}
