{% extends "layout.html" %}

{% from "sidebars.html" import sidebar_domain %}

{% block title %}{{ _('Add new domain(s)') }}{% endblock title %}

{% block leftcolumn %}
    {{ sidebar_domain() }}
{% endblock %}

{% block rightcolumn %}

{# Display input field for adding new domain. #}
{% if session.get('domainGlobalAdmin') == 'yes' %}
    <form method="post" action="{{ctx.homepath}}/domain/list">
    <p>{{ _('Add new domain(s):') }}</p>
    <p>
    <input type="hidden" name="action" value="add">
    <input type="text" name="domainName" size="40">
    <input type="submit" value="Add now" class="button">
    </p>
    <p><span class="hint">{{ _('Hint: Multiple domains must be sperated by SPACE.') }}</span></p>
    </form>
{% endif %}

{# Show msg after add new domain(s). #}
{% if msg is defined %}
    <p>{{ _('System message:') }}</p>
    <ul>
    {% for i in msg.items() %}
        <li>{{i[1]}} ({{i[0]}})</li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock rightcolumn %}
