{% extends "layout.html" %}

{% import "forms.html" as forms %}

{% block title %}{{ _('Login') }}{% endblock %}

{% block css %}
<link href="{{ ctx.homepath }}/static/{{ skin }}/css/login.css" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block main %}

{# Show system message #}
{% if msg is defined and msg is not none %}
<div class="warning">{{msg}}</div>
{% endif %}

<form id="login" name="loginform" method="post" action="{{ctx.homepath}}/login">
<fieldset>
<legend><h1>{{ _('Login') }}</h1></legend>

<label>{{ _('Username') }}</label>
<input type="text" name="username" id="username" />

<label>{{ _('Password') }}</label>
<input type="password" name="password" id="password" />

<input type="submit" value="{{ _('Login') }}" class="button" />
</fieldset>

</form>

{% endblock main %}

{% block footer %} {% endblock footer %}
