{% extends "layout.html" %}

{% from "macros.html" import set_status_img, list_enabled_services %}

{% block title %}{{ _('Users') }}{% endblock %}

{% block leftcolumn %}
{# Search #}
<div class="note">
<h4>{{ _('Search user') }}</h4>
<form method="post" action="{{ctx.homepath}}/search">
    <input type="hidden" name="searchType" value="admin">
    <input type="text" name="admin" value="" size="13">
    <input type="submit" value="{{ _('Search') }}" class="button">
</form>
</div>

{# Add new user. #}
<div class="note">
<form method="post" action="{{ctx.homepath}}/user/list">
    <input type="hidden" name="action" value="add" />
    <input type="hidden" name="domainName" value="{{ domainName }}" />
    <input type="hidden" name="domainDN" value="{{ domainDN }}" />

    <h4>{{ _('Add new user(s)') }}</h4>

    <table class="full">
    <tr>
        <td>{{ _('Username') }}</td>
        <td><input type="text" name="username" size="13" /></td>
    </tr>

    <tr>
        <td>{{ _('Domain') }}</td>
        <td><strong>@{{domainName}}</strong></td>
    </tr>
    <tr>
        <td>{{ _('Password') }}</td>
        <td><input type="password" size="13" name="password" /></p>
    </tr>

    <tr>
        <td>{{ _('Quota') }}</td>
        <td><input type="text" name="quota" value="1024" size="5" /> <strong>MB</strong></td>
    </tr>

    <tr><td colspan="2"><input type="submit" value="Add now" class="button float_right"></td></tr>
    </table>

    <p>{{ _('Hint:') }}</p>
    <ul>
        <li>{{ _('Do <strong>NOT</strong> include domain name.') }}</li>
        <li>{{ _('Multiple accounts <strong>MUST</strong> be sperated by <strong>SPACE</strong>.') }}</li>
    </ul>
</form>
</div>
{% endblock leftcolumn %}

{% block rightcolumn %}
{# Show system message #}
{% if msg is not none %}
    <div class="note">
        <p>{{ _('System message:') }}</p>

        <ul>
        {% for i in msg.items()|sort %}
            <li>{{ i[1] }} ({{ i[0] }})</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

{# List all users. #}
<h4>{{ _('All users under domain %s:') |format(domainName)}} </strong></h4>

<form name="list_table" id="list_table" action="{{ctx.homepath}}/user/list" method="post">
<input type="hidden" name="action" value="delete" />
<input type="hidden" name="domainDN" value="{{ domainDN }}" />
<input type="hidden" name="domainName" value="{{ domainName }}" />
<table class="full">

    {# Table header. #}
    <tr>
        <th><input type="checkbox" name="checkall" id="checkall" /></th>
        <th>{{ _('No.') }}/{{ users |length}}</th>
        <th>{{ _('Mail') }}</th>
        <th>{{ _('Status') }}</th>
        <th>{{ _('Mail Quota') }}</th>
        <th>{{ _('Enabled Service(s)') }}</th>
        <th>{{ _('Operations') }}</th>
    </tr>

    {# List user attributes/avalues. #}
    {% for i in users %}
        {% set dn = i[0] %}
        {% set entries = i[1] %}
        {% set mail = entries.get('mail')[0] %}
        {% set accountStatus = entries.get('accountStatus')[0] %}
        {% set mailQuota = entries.get('mailQuota')[0] %}
        {% set enabledService = entries.get('enabledService') %}

        {% if accountStatus|lower == 'active' %}
            <tr id="enabled">
        {% else %}
            <tr id="disabled">
        {% endif %}
            <td><input type="checkbox" name="dn" value="{{dn}}" /></td>
            <td>{{ loop.index }}</td>
            <td>{{ mail }}</td>
            <td align="center">{{ set_status_img(accountStatus) }}</td>

            {# mail quota #}
            {% if mailQuota|int == 0 %}
                <td>Unlimited</td>
            {% else %}
                {% set quota = (mailQuota|int)/1048576 %}
                <td>{{ quota }} MB</td>
            {% endif %}

            {# List enabled services #}
            <td>
            {% for service in enabledService %}
                {{service}}
            {% endfor %}
            </td>

            {# List all operations. #}
            <td>
                <form method="post" action="{{ctx.homepath}}/user/edit" class="inline">
                    <input type="hidden" name="userDN" value="{{ dn }}">
                    <input type="image" src="{{ctx.homepath}}/static/{{skin}}/images/edit.png" alt="{{ _('Edit') }}">
                </form>

                <form method="post" action="{{ctx.homepath}}/user/detail" class="inline">
                    <input type="hidden" name="userDN" value="{{ dn }}">
                    <input type="image" src="{{ctx.homepath}}/static/{{skin}}/images/detail.png" alt="{{ _('Detail') }}">
                </form>

                <form method="post" action="{{ctx.homepath}}/user/list" class="inline">
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="dn" value="{{ dn }}">
                    <input type="hidden" name="domainDN" value="{{ domainDN }}">
                    <input type="hidden" name="domainName" value="{{ domainName }}">
                    <input type="image" src="{{ctx.homepath}}/static/{{skin}}/images/delete.png" alt="{{ _('Delete') }}">
                </form>
            </td>
        </tr>
    {% endfor %}

    <tr>
        <td colspan="10">
            <input type="checkbox" name="checkall" id="checkall" />
            {{ _('Select all') }}
            <input type="submit" value="{{ _('Delete') }}" class="button" />
        </td>
    </tr>
</table>
{% endblock rightcolumn %}
