h4,h3,ul {
    margin: 0;
}

pre {
	font-size: 11px;
}

body {
	background-color: #f0f0e5
}

input, textarea {
    font-size: x-small;
    font-family: verdana, arial, helvetica, sans-serif;
}

th, td {
    font-size: x-small;
}

p, td, th, div, span {
    font-family: verdana, arial, helvetica, sans-serif;
}

a, a:link, a:visited, a:active {
	color: #b82a1b;
	text-decoration: none;
}


a:hover {
	color: #7998c6;
	text-decoration: solid;
}

table {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
}
table th {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
}
table td {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
}