# -*- encoding: utf-8 -*-
## base.html

<%page cached="False" />

<html>
    <head>
        ${self.head_meta()}
        <style type="text/css">
            @import url("/rhmsadmin/static/default/main.css");
            ${self.import_css()}
        </style>
        <title>${self.title()}</title>
    </head>

    <body>
        ${self.header()}

        ${self.body()}

        ${self.footer()}
    </body>
</html>

<%def name="head_meta()">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
</%def>

<%def name="import_css()">
</%def>

<%def name="title()">
rhmsadmin
</%def>

<%def name="header()">
<div id="header">
    <div class="wrapper">
    <h1><a href="/rhmsadmin/">${_("Mail System Manager")}</a></h1>

    <ul>
        <li><a 
            % if url == '/dashboard':
                class="current"
            % endif
            href="/rhmsadmin/dashboard">${ _("Dashboard") }</a></li>
        <li><a 
            % if url.startswith('/domains'):
                class="current"
            % endif
            href="/rhmsadmin/domains">${_("Virtual Domains")}</a></li>
        <li><a 
            % if url.startswith('/users'):
                class="current"
            % endif
            href="/rhmsadmin/users">${_("Virtual Users")}</a></li>
        <li><a
            % if url.startswith('/about'):
                class="current"
            % endif
            href="/rhmsadmin/about">${_("About")}</a></li>
        <li><a 
            % if url.startswith('/logout'):
                class="current"
            % endif
            href="/rhmsadmin/logout">${_("Logout")}</a></li>
    </ul>
    </div>
</div>
</%def>

<%def name="footer()">
<div id="footer">
    <p>
        <a href="http://code.google.com/p/rhms/">Mail System Manager</a> |
        &copy 2008 by <a href="mailto:michaelbibby@gmail.com">Zhang Huangbin</a> |
        <a href="/rhmsadmin/about/license">License</a>
    </p>
</div>
</%def>
